.cart_banner {
    height: 60px;
    background: #fff;
    margin-bottom: 20px;
    color: var(--app-color);
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
}

.cart_detail {
    padding-bottom: 80px;
    min-height: 1000px;
}

.cart-btn {
    padding: 20px;
    background: linear-gradient(90deg, rgba(255, 52, 52, 1) 0%, rgba(255, 55, 0, 1) 51%, rgba(255, 41, 64, 1) 100%);
    color: #fff;
    font-weight: 500;
}

.cart_shop {
    width: 100%;
    display: flex;
    background: #fff;
    margin-bottom: 2px;
    padding: 5px 20px;
}

.cart_shop_name {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 10px;
    color: #fff;
    background: var(--app-gradient);
    border-radius: var(--border-radius);
}

.cart_header {
    display: flex;
    height: 55px;
    padding: 0 20px;
    margin-bottom: 12px;
    text-align: center;
    border-bottom: 1px solid #f5f5f5;
}

.cart_header * {
    font-size: 16px;
    font-weight: 500;
}

.cart_header div:nth-child(1) {
    width: 3%;
    text-align: left;
}

.cart_header div:nth-child(2) {
    width: 37%;
    text-align: left;
}

.cart_header div:nth-child(3) {
    width: 22%;
}

.cart_header div:nth-child(4) {
    width: 15%;
}

.cart_header div:nth-child(5) {
    width: 11%;
}

.cart_header div:nth-child(6) {
    width: 12%;
}

.cart_product {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    padding: 16px 20px;
    margin-bottom: 2px;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 5%);
}

.cart_product_ship_info {
    padding: 10px 20px;
    margin-bottom: 5px;
    color: #ed5829;
}

.cart_product_checkbox {
    width: 3%;
}

.cart_product_info {
    width: 37%;
    display: flex;
}

.cart_product_info img {
    width: 80px;
    height: 80px;
}

.cart_product_name {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.cart_product_name p {
    font-size: 14px;
    font-weight: 500;
    line-height: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.cart_product_name img {
    margin-top: auto;
    width: 35%;
    height: auto;
}

.cart_product_price {
    width: 22%;
    display: flex;
    justify-content: center;
}

.cart_product_price .price_sale {
    color: #f06449;
    margin-left: 10px;
    font-weight: 500;
    font-size: var(--price-sale-font-size);
}

.cart_product_price .price_default {
    color: #afafaf;
    text-decoration: line-through;
    font-size: var(--price-default-font-size);
}

.cart_product_qty {
    width: 15%;
    display: flex;
    height: 50px;
}

.cart_product_qty input {
    font-size: 16px;
    color: #6f6f6f;
    width: 40%;
    text-align: center;
    background: #f5f5f5;
    border: none;
    border-radius: 0;
}

.cart_product_qty .quantity_btn {
    font-size: 16px;
    width: 30%;
    text-align: center;
    background: #f5f5f5;
    cursor: pointer;
    padding: 0;
}

.cart_product_price_total {
    width: 11%;
    font-weight: 500;
    font-size: var(--price-sale-font-size);
    text-align: center;
}

.cart_product_del {
    width: 12%;
    text-align: center;
}

.cart_product_del button {
    border-radius: var(--border-radius);
    padding: 3px 10px;
    cursor: pointer;
}

/* cart small */

.shoping__cart__small {
    display: none;
}

.shoping__cart__small__item {
    display: flex;
    background: #fff;
    padding: 10px 10px;
    margin-bottom: 2px;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgb(0, 0, 0, 5%);
}

.shoping__cart__small__item-img {
    width: 25%;
}

.shoping__cart__small__item__container {
    width: 65%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.shoping__cart__small__item__container p {
    font-size: 12px;
    margin-bottom: 2px;
    line-height: inherit;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.shoping__cart__small__item__container img {
    width: 50%;
    margin-bottom: 2px;
}

.shoping__cart__small__item__price {
    display: flex;
}

.shoping__cart__small__item__price-sale {
    color: #f06449;
    margin-left: 10px;
    font-size: 15px;
}

.shoping__cart__small__item__price-default {
    color: #afafaf;
    text-decoration: line-through;
    font-size: 12px;
}

.shoping__cart__small__item-qty {
    display: flex;
    position: relative;
    text-align: center;
    width: 70%;
}

.shoping__cart__small__item-qty input {
    font-size: 16px;
    color: #6f6f6f;
    width: 50px;
    border: none;
    text-align: center;
    flex-grow: 1;
    background: #f5f5f5;
}

.shoping__cart__small__item-operation {
    width: 10%;
    background: #dc3545;
    text-align: center;
}

.shoping__cart__small__item-operation a {
    height: 100%;
    font-size: 14px;
    color: #fff;
}

.shoping__cart__small__item-operation a:hover {
    color: #f06449;
}

.shoping__cart__small__item__bot {
    background: #fff;
    padding: 5px 10px;
    font-size: 10px;
    margin-bottom: 5px;
}

.shoping__checkout {
    background: #f5f5f5;
    padding: 30px;
    padding-top: 20px;
    margin-top: 50px;
}

.shoping__checkout h5 {
    color: #1c1c1c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 28px;
}

.shoping__checkout ul {
    margin-bottom: 28px;
}

.shoping__checkout ul li {
    font-size: 16px;
    color: #1c1c1c;
    font-weight: 700;
    list-style: none;
    overflow: hidden;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 13px;
    margin-bottom: 18px;
}

.shoping__checkout ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 0;
}

.shoping__checkout ul li span {
    font-size: 18px;
    color: #dd2222;
    float: right;
}

.shoping__checkout .primary-btn {
    display: block;
    text-align: center;
}

/* cart bottom */

.cart_bottom {
    height: 60px;
    width: 100%;
    background: var(--app-gradient);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}

.cart_total {
    color: #fff;
    font-weight: 500;
    margin-right: 20px;
}

.cart_total * {
    color: #fff;
}

.cart_payment_btn {
    padding: 10px 30px;
    background: #fff;
    margin-right: 15px;
    text-align: center;
    border-radius: 2px;
    font-weight: 500;
    color: var(--app-color);
    cursor: pointer;
}

.cart_detail~.menu_bar {
    display: none;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (max-width: 767px) {
    .cart_header {
        display: none;
    }

    .cart_product {
        padding: 5px 10px;
    }

    .cart_product_info {
        width: 90%;
    }

    .cart_product_checkbox {
        width: 10%;
    }

    .cart_product_price {
        width: 35%;
    }

    .cart_product_qty {
        width: 20%;
    }

    .cart_product_price_total {
        width: 25%;
    }

    .cart_product_del {
        width: 20%;
    }

    .cart_product_name p {
        font-size: 12px;
    }

    .cart_payment_btn {
        padding: 8px 15px;
    }

    .cart_shop_name {
        font-size: 10px;
        border-radius: 2px;
    }
}