* {
    font-family: 'Afacad Flux', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 14px;
    box-sizing: border-box;
    color: #000000;
}

img {
    max-width: 100%;
}

button {
    border: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    outline: none;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

section {
    padding: 50px 120px;
    border-bottom: 5px solid #eeeeee;
}

section.first_section {
    padding-top: 100px;
}

strong {
    font-weight: 500;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul {
    list-style: none;
}

.del_action:hover {
    color: #fff;
    background: var(--del-btn-gradient);
}

.update_action:hover {
    color: #fff;
    background: var(--update-btn-gradient);
}

.primary_button {
    padding: 3px 10px;
    border-radius: var(--border-radius);
    background: #e5e5e5;
}

button:hover {
    opacity: 0.95;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup_content {
    background-color: #fff;
    padding: 20px 50px;
    width: 90%;
    border-radius: 8px;
    position: relative;
}

.popup .popup_content h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

.popup .close_btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

.common_btn {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px 0;
    background: var(--app-gradient);
    border: 0;
    color: #fff;
    border-radius: var(--border-radius);
    margin-top: 20px;
    text-align: center;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    section {
        padding: 40px 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    section {
        padding: 40px 60px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    section {
        padding: 30px 40px;
    }
}

@media only screen and (max-width: 575px) {
    section {
        padding: 20px 10px;
    }

    * {
        font-size: 12px;
    }

    section.first_section {
        padding-top: 60px;
    }

    .popup_content {
        padding: 20px;
    }
}