.section_title {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home_categories {
    display: flex;
    flex-wrap: wrap;
}

.home_category_item {
    width: calc(100% / 8);
    text-align: center;
    border: 1px solid #f4f4f4;
    padding: 30px 0;
    cursor: pointer;
    border-right: none;
}

.home_category_item:nth-child(8n),
.home_category_item:last-child {
    border-right: 1px solid #f4f4f4;
}

.home_category_item img {
    width: 50%;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (max-width: 991px) {
    .home_category_item:nth-child(8n) {
        border-right: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .home_category_item {
        width: calc(100% / 6);
    }

    .home_category_item:nth-child(6n) {
        border-right: 1px solid #f4f4f4;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .home_category_item {
        width: calc(100% / 6);
        padding: 10px 0;
    }

    .home_category_item:nth-child(6n) {
        border-right: 1px solid #f4f4f4;
    }
}

@media only screen and (max-width: 575px) {
    .home_category_item {
        width: 25%;
        padding: 10px 0;
    }

    .home_category_item:nth-child(4n) {
        border-right: 1px solid #f4f4f4;
    }
}