.menu_bar {
    margin: 50px 0;
    width: 100%;
    height: 50px;
    background: var(--app-gradient);
    position: fixed;
    bottom: -50px;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.menu_bar .menu_item {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_bar a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.menu_bar .search_header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.menu_bar .list .icon {
    position: relative;
    display: block;
    line-height: 15px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    z-index: 1;
    color: #6c757d;
}

.menu_bar .list .text {
    font-size: 10px;
    text-align: center;
    color: #6c757d;
}

.menu_bar .list.active .icon {
    color: #2196f3;
    font-size: 25px;
}

.menu_bar .list.active .text {
    display: none;
}

.menu_bar .menu_item .h_u_quantity {
    left: calc(50% + 8px);
}

@media only screen and (max-width: 767px) {
    .menu_bar {
        display: flex;
    }

    .user_sidebar ul {
        padding-left: 0;
    }
}