.user_info {
    display: flex;
    flex-direction: column;
}

.user_info .item {
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.user_info .item .label {
    width: 100px;
    text-align: right;
    color: #5d5d5d;
    font-weight: 500;
}

.user_info .item .detail {
    width: calc(100% - 100px);
    padding: 5px 30px;
}

.user_info .item .detail input {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #d8d8d8;
    border-radius: var(--border-radius);
}

.user_info .item .detail #save_info_btn {
    background: var(--app-gradient);
    padding: 10px 20px;
    color: #fff;
    border-radius: var(--border-radius);
    cursor: pointer;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 576px) and (max-width: 767px) {}

@media only screen and (max-width: 575px) {
    .user_info .item .detail input {
        padding: 6px 20px;
    }

    .user_info .item .label {
        width: 60px;
    }

    .user_info .item .detail {
        width: calc(100% - 60px);
    }

    .user_info .item {
        padding: 5px 10px;
    }
}