:root {
  --app-gradient: linear-gradient(89.5deg, #83ccff 0.4%, #4290fb 100.3%);
  --app-gradient-disabled: linear-gradient(89.5deg, #ababab 0.4%, #6e7987 100.3%);
  --app-color: #4290fb;
  --price-text-color: #ee4d2d;
  --del-btn-color: #F45C43;
  --del-btn-gradient: linear-gradient(to right, #F45C43 0%, #F45C43 51%, #EB3349 100%);
  --update-btn-color: #8CA6DB;
  --update-btn-gradient: linear-gradient(89.5deg, rgba(131, 204, 255, 1) 0.4%, rgba(66, 144, 251, 1) 100.3%);
  --border-radius: 5px;
  --common-font-size: 16px;
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  :root {
    --common-font-size: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  :root {
    --border-radius: 4px;
    --common-font-size: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  :root {
    --border-radius: 3px;
    --common-font-size: 14px;
  }
}

@media only screen and (max-width: 575px) {
  :root {
    --border-radius: 2px;
    --common-font-size: 14px;
  }
}