.voucher_card {
    width: 48%;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 10px 10px;
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.voucher_card.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.voucher_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.voucher_card_info,
.voucher_card_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voucher_card_img {
    width: 80px;
}

.voucher_card_vertical {
    border-left: 2px dotted black;
    height: 80px;
    position: absolute;
    left: 120px;
}

.voucher_card_content {
    width: calc(100% - 130px);
}

.voucher_card_content .coupon_detail {
    font-size: 20px;
    font-weight: 500;
    color: var(--price-text-color);
}

.voucher_card_content h2 span {
    font-size: 18px;
}

.voucher_card_content h3 {
    font-size: 16px;
    color: #565656;
    text-transform: uppercase;
}

.voucher_card_content p,
.voucher_card_content p i {
    font-size: 12px;
    color: #696969;
}

.voucher_card_bottom {
    margin: 12px 0 -5px 0;
    border-radius: 4px;
    padding: 0 5px;
    border: 1px solid #e1e1e1;
}

.voucher_card_bottom input {
    width: fit-content;
    border: none;
    outline: none;
}

.voucher_card_bottom button {
    margin: 5px 0;
    padding: 5px 20px;
    background: var(--app-gradient);
    color: #fff;
    border-radius: var(--border-radius);
}

.voucher_card_bottom button:disabled {
    background: var(--app-gradient-disabled);
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1200px) {}

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 992px) and (max-width: 1100px) {
    .voucher_card {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .voucher_card {
        width: 100%;
    }
}